[Unit]
Description=Simple Python HTTP server on port {{ listen_port }}
After=network-online.target

[Service]
WorkingDirectory={{ web_root }}
ExecStart=/usr/bin/python3 -m http.server {{ listen_port }}
Restart=on-failure
RestartSec=2
User=root

[Install]
WantedBy=multi-user.target
