<!DOCTYPE html>
<html>
  <head><meta charset="utf-8"><title>SJSU</title></head>
  <body style="font-family: sans-serif; text-align:center; margin-top: 15vh;">
    <h1>Hello World from SJSU-{{ app_instance }}</h1>
  </body>
</html>
